// Layout variables partial

$section-padding: 40px 0;

section.intro, section.features-extra, section.rsvp, section.song {
	background: $section-light;
}
section.features, section.events, section.blog {
	background: $section-dark;
}

section.intro, section.features-extra, section.song {
	background: $section-light;
}